# Cache & Compilation files
__pycache__/
*.py[cod]
.pytest_cache/

# Data Files (قفل أمني لمنع رفع ملفات الـ CSV الكبيرة)
data/
*.csv
*.xlsx
*.json

# Virtual Environments
venv/
env/
.venv/

# IDE Settings
.vscode/
.idea/